/*MQ1.......................................................................*/
@media only screen and (min-width:501px){/*Desktop*/
	/*Narrow content .......................................................*/
	p{
		max-width:600px;
		margin:0px auto;
		text-align: justify;
	}
	/*Narrow content .......................................................*/
	a{
		text-decoration: none;
	}
	/*Horizontal Menu.......................................................*/
	ul{
		margin: 0;
		padding: 0;
		text-align: center;
		list-style-type: none;
	}
	ul li{
		display: inline;
	}
	ul a{
		display: inline-block;
		background-color: #d27979;
		width:22%;
		min-width: 170px;
		margin-top: 2px;
	}
	/*Horizontal Menu.......................................................*/
}
/*MQ1.......................................................................*/
/*MQ2.......................................................................*/
@media only screen and (max-width:500px){/*Smartphone*/
	/*100% wide content ....................................................*/
	p{
		width:100%;
		text-align: justify;
	}
	/*100% wide content ....................................................*/
	a{
		text-decoration: none;
	}
	/*Vertical Menu.........................................................*/
	ul{
		margin: 0;
		padding: 0;
		text-align: center;
	}
	ul a{
		display: block;
		background-color: #d27979;
		padding: 8px;
		margin:2px;
	}
	/*vertical Menu.........................................................*/
}
/*MQ2.......................................................................*/
/*What is set universally...................................................*/
p{
	background-color: 
}
.active{
	background-color: #993333;
}
body{
	background-image: url("num1.jpg");
}
header{
	background-image: url("num2.png");
}
.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear:both;
}
.clearfix{
	zoom:1;	
}
/*What is set universally...................................................*/