body{
	background-color: #f2d9d9;
}

article h3{
	margin-left: 40%;
}
article section{
	margin-left: 23%;
	max-width: 55%;
} 
 header h1{
 	margin-left: 25%;
 }
 header {
 	background-color: #4d0000;
 }

 p div{
 	display: block;
 }

 two{
 	display: block;
 }

 footer + section + h3{
 	margin-left: 10%;
 }

 footer + section + p{
 	margin-left: 10%;
 }

 footer + section + div{
 	margin-right: 10%;
 }