/*MQ1.......................................................................*/
@media only screen and (min-width:501px){/*Desktop*/
	/*Narrow content .......................................................*/
	p{
		max-width:600px;
		margin:0px auto;
		text-align: justify;
	}
	/*Narrow content .......................................................*/
	a{
		text-decoration: none;
	}
	/*Horizontal Menu.......................................................*/
	ul{
		margin: 0;
		padding: 0;
		text-align: center;
		list-style-type: none;
	}
	ul li{
		display: inline;
	}
	ul a{
		display: inline-block;
		background-color: #d27979;
		width:22%;
	}
	/*Horizontal Menu.......................................................*/
}
/*MQ1.......................................................................*/
/*MQ2.......................................................................*/
@media only screen and (max-width:500px){/*Smartphone*/
	/*100% wide content ....................................................*/
	p{
		width:100%;
		text-align: justify;
	}
	/*100% wide content ....................................................*/
	a{
		text-decoration: none;
	}
	/*Vertical Menu.........................................................*/
	ul{
		margin: 0;
		padding: 0;
		text-align: center;
	}
	ul a{
		display: block;
		background-color: #d27979;
		padding: 8px;
	}
	/*vertical Menu.........................................................*/
}
/*MQ2.......................................................................*/
p{
	background-color: 
}