body{
	background-color: #DBBFBF;
}

article h3{
	margin-left: 40%;
}
article section{
	margin-left: 23%;
	max-width: 55%;
} 
 header h1{
 	margin-left: 40%;
 }
 header {
 	background-color: #A66060;
 }

 p div{
 	display: block;
 }

 footer + section + h3{
 	margin-left: 20%;
 }

 footer + section + p{
 	margin-left: 30%;
 }

 footer{
 	border-style: solid none none none;
 	border-color: #460000;
 	background-color: #944040;
 }