@media screen and (min-width:501px){/*Desktop*/
	p{
		max-width:600px;
		margin:0px auto;
		background-color: blue;
		text-align: justify;
	}
}
@media only screen 
	and (max-width:963px)
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2){/*Smartphone*/
	p{
		width:100%;
		background-color: red;
		text-align: justify;
	}
}