body{
	background-color: #DBBFBF;
}

article h3{
	margin-left: 40%;
}
article section{
	margin-left: 23%;
	max-width: 55%;
} 

 header {
 	background-color: #A66060;
 	border-style: solid solid solid solid;
 	border-color: #460000;
 	text-align: center;
 	padding: 20px;
 }

 footer{
 	border: 5px solid hotpink;
 	background-color: #944040;
 	max-width: ;
 	overflow: auto;
 }

 section + h3{
 	margin-left: 33%;
 }

 section + p{
 	margin-left: 55%;
 }

 #Associates{
 	float: left; 
 	border: 5px dotted hotpink;
 	margin: 20px;
 	padding: 0px 0px 0px 0px;
 }

 #menu{
 	margin:auto;
 	/*width: 70%;*/
 }

 header /*nav ul#menu li*/a{ /*thanks to Descendant Seelctor*/
 	background-color:  grey;
 	color: white;
 	text-decoration: none;
 	padding: 10px 20px;
 	margin: 2px;
 }

 header nav ul#menu li a:hover{
 	background-color: black;
 }

 header nav ul#menu li{
 	display: inline;
 }