body{
	background-color: #DBBFBF;
}

article h3{
	margin-left: 40%;
}
article section{
	margin-left: 23%;
	max-width: 55%;
} 
 header h1{
 	margin-left: 33%;
 }
 header {
 	background-color: #A66060;
 	border-style: none none solid none;
 	border-color: #460000;
 }

 p div{
 	display: block;
 }

 footer{
 	border-style: solid none none none;
 	border-color: #460000;
 	background-color: #944040;
 }

 section > div{
 	margin-left: 10%;
 }

 footer > section {
 	margin-left: 23%;
 }