body{
	background-color: #DBBFBF;
}

article h3{
	margin-left: 40%;
}
article section{
	margin-left: 23%;
	max-width: 55%;
} 
 header h1{
 	margin-left: 55%;
 }
 header {
 	background-color: #A66060;
 	border-style: solid solid solid solid;
 	border-color: #460000;
 }

 p div{
 	display: block;
 }

 footer{
 	border-style: solid solid solid solid;
 	border-color: #460000;
 	background-color: #944040;
 }

 section + h3{
 	margin-left: 33%;
 }

 section + p{
 	margin-left: 55%;
 }

 footer section div{
 	float: left;
 	border-style: 
 }