body{
	background-color: #DBBFBF;
}

article h3{
	margin-left: 40%;
}
article section{
	margin-left: 23%;
	max-width: 55%;
} 
 header h1{
 	margin-left: 33%;
 }
 header {
 	background-color: #A66060;
 	border-style: solid solid solid solid;
 	border-color: #460000;
 }

 footer{
 	border: 5px solid hotpink;
 	background-color: #944040;
 	max-width: ;
 	/*height: 500px;
 	width: 500px;*/
 }

 section + h3{
 	margin-left: 33%;
 }

 section + p{
 	margin-left: 55%;
 }

 #Associates{
 	display: inline;
 	border: 5px dotted hotpink;
 }