body{
	background-color: #DBBFBF;
}

#all{
	width: 800px;
	
	margin: auto;
	border:5px dotted white;
}

article > section{
	
	float: left;
	text-align: justify;
	border:1px solid red;
} 
article > section > section{
	float: left;
	color:yellow;
	border:1px solid green;
}

 header {
 	background-color: #A66060;
 	border-style: solid solid solid solid;
 	border-color: #460000;
 	text-align: center;
 	padding: 20px;
 	float: left;
 	clear: both;
 	width: 752px
 }

 footer{
 	border: 5px solid hotpink;
 	background-color: #944040;
 	max-width: ;
 	overflow: auto;
 }

 section + h3{
 	margin-left: 33%;
 }

 section + p{
 	margin-left: 55%;
 }

address{
	clear: both;
}

 #Associates{
 	float: left; 
 	margin: 0px;
 	padding: 0px 20px;
 	border: 1px solid white;
 }

 #menu{
 	margin:auto;
 	/*width: 70%;*/
 }

 header /*nav ul#menu li*/a{ /*thanks to Descendant Seelctor*/
 	background-color:  grey;
 	color: white;
 	text-decoration: none;
 	padding: 10px 20px;
 	margin: 10px;
 	float: left;
 	clear: both;
 }

 header /*nav ul#menu li*/a:hover{ /*thanks to Descendant Seelctor*/
 	background-color: black;
 }

 header /*nav ul#menu*/li{ /*thanks to Descendant Seelctor*/
 	display: inline;
 }