/*MQ1.......................................................................*/
@media only screen and (min-width:501px){/*Desktop*/
	/*Narrow content .......................................................*/
	article > section{
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	/*Narrow content .......................................................*/
	a{
		text-decoration: none;
	}
	/*Horizontal Menu.......................................................*/
	ul{
		margin: 0;
		padding: 0;
		text-align: center;
		list-style-type: none;
	}
	ul li{
		display: inline;
	}
	ul a{
		display: inline-block;
		background-color: #d27979;
		padding:5px 0px;
		width:22%;
		min-width: 170px;
		margin-top: 2px;
	}
	/*Horizontal Menu.......................................................*/
}
/*MQ1.......................................................................*/
/*MQ2.......................................................................*/
@media only screen and (max-width:500px){/*Smartphone*/
	/*100% wide content ....................................................*/

	/*100% wide content ....................................................*/
	a{
		text-decoration: none;
	}
	/*Vertical Menu.........................................................*/
	ul{
		margin: 0;
		padding: 0;
		text-align: center;
		list-style-type: none;
	}
	ul a{
		display: block;
		background-color: #d27979;
		padding: 8px;
		margin:2px;
	}
	/*vertical Menu.........................................................*/
}
/*MQ2.......................................................................*/
/*What is set universally...................................................*/
article{
	background-color: white;
	opacity: 0.5;	
}
.active{
	background-color: #993333;
}
body{	
	background: url("/Polygraph Clarification and Professional Services and Associates/Polygraph/Polygraph-1.jpg") 600px 10px no-repeat,  
   				url("/Polygraph Clarification and Professional Services and Associates/Polygraph/Polygraph-2.jpg") 10px 10px no-repeat,   
   				url("/Polygraph Clarification and Professional Services and Associates/Polygraph/Polygraph-3.jpg");
	text-align: justify;
}
header{
	background-image: url("/Polygraph Clarification and Professional Services and Associates/Polygraph/Polygraph-19.jpg");
	padding:10px;
}
.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear:both;
}
.clearfix{
	zoom:1;	
}
footer{
	background-image: url("/Polygraph Clarification and Professional Services and Associates/Polygraph/Polygraph-19.jpg");
	padding:30px;
}
address > p, address > h2{/*hi in header and content between address tags*/
	display: inline;
}
address > p, address > h2{/*hi in header and content between address tags*/
	float: left;
	clear: left;
}
header ul{
	padding-top: 30px;
}
header a{
	color: linen;
}
header h1{
	margin-left: ;
}
#footContain{
	background-color: linen;
	float:left;
	margin-left: 33%;
}
/*What is set universally...................................................*/