body{
	background-color: #DBBFBF;
}

article > section{
	margin-left: 23%;
	max-width: 55%;
	text-align: justify;
} 

 header {
 	background-color: #A66060;
 	border-style: solid solid solid solid;
 	border-color: #460000;
 	text-align: center;
 	padding: 20px;
 }

 footer{
 	border: 5px solid hotpink;
 	background-color: #944040;
 	max-width: ;
 	overflow: auto;
 }

 section + h3{
 	margin-left: 33%;
 }

 section + p{
 	margin-left: 55%;
 }

 #Associates{
 	float: left; 
 	margin: 0px;
 	padding: 0px 20px;
 }

 #menu{
 	margin:auto;
 	/*width: 70%;*/
 }

 header /*nav ul#menu li*/a{ /*thanks to Descendant Seelctor*/
 	background-color:  grey;
 	color: white;
 	text-decoration: none;
 	padding: 10px 20px;
 	margin: 10px;
 }

 header /*nav ul#menu li*/a:hover{ /*thanks to Descendant Seelctor*/
 	background-color: black;
 }

 header /*nav ul#menu*/li{ /*thanks to Descendant Seelctor*/
 	display: inline;
 }