body{
	background-color:#f2d9d9;
}

article h3{
	margin-left: 50%;
}
article section{
	margin-left: 20%;
	max-width: 55%;
} 
 header h1{
 	margin-left: 25%;
 }
 header {
 	color: red;
 }

 p div{
 	display: block;
 }
 two{
 	display: block;
 }