body{
	background-color: #DBBFBF;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	body{
		background-color: hotpink;
	}
}

article > section{
	margin-left: 23%;
	max-width: 55%;
	text-align: justify;
} 

a{
	text-decoration: none;
}

 header {
 	background-color: #A66060;
 	border-style: solid solid solid solid;
 	border-color: #460000;
 	text-align: center;
 	padding: 20px;
 }

 footer{
 	border: 5px solid hotpink;
 	background-color: #944040;
 	max-width: ;
 	overflow: auto;
 }

 section + h3{
 	margin-left: 33%;
 }

 section + p{
 	margin-left: 55%;
 }

 #Associates{
 	float: left; 
 	margin: 0px;
 	padding: 0px 20px;
 }

 #menu{
 	margin:auto;
 	/*width: 70%;*/
 	margin: 0;
 	padding: 0;
 }

 header /*nav ul#menu li*/a{ /*thanks to Descendant Seelctor*/
 	background-color:  grey;
 	color: white;
 	padding: ;
 	margin: 10px;
 }

 header /*nav ul#menu li*/a:hover{ /*thanks to Descendant Seelctor*/
 	background-color: black;
 }

 header /*nav ul#menu*/li{ /*thanks to Descendant Seelctor*/
 	display: inline;
 }/*Here I am*/
 .clearfix:after, 
 .clearfix:before{
 	content: "";
 	display: table;
 }
 .clearfix:after{
 	clear: both;
 }
 .clearfix{
 	zoom:1;
 }