/*Second*/
body{
	background-color: grey;
	text-align: justify;
	background: url(Polygraph-1.jpg) 600px 10px no-repeat,  
   				url(Polygraph-2.jpg) 10px 10px no-repeat,   
   				url(Polygraph-3.bmp);
}
header{
	background-color: gold;
	color: silver;
}
article section{/*To have narrow content for better (desktop) readability*/
	max-width:600px;
	margin-left: auto;
	margin-right: auto;
}
/*#opacity{
	background-color: white;
	opacity: 0.6;
	border:2px solid white;
	border-radius: 10px;
	margin:10px 0px 0px 0px;
}*/
#menu{/*Horizontal menu for desktops.*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#menu a{
	text-decoration: none;
	display: inline-block;
	width: 22.5%;
	padding: 2px 2px;
	background-color: hotpink;
	margin-bottom: 2px;
}
#menu li{
	display: inline;
}
.clearfix:before, .clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear:both;
}
.clearfix{
	zoom:1;
}